.db-pricing-seven {
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
    border: 1px solid #C5C2C2;
    background-color: #f6f9fb;
}

.db-pricing-seven ul {
    list-style: none;
    margin: 0;
    text-align: center;
    padding-left: 0px;
}

.db-pricing-seven ul li {
    border-bottom: 1px #D8D8D8;
    padding-top: 10px;
    padding-bottom: 10px;
}
