{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{country.name}}{% endblock %}

{% block statics %}
	<script src="{% static "js/like.js" %}"></script>
	<link href="{% static "css/registration.css" %}" rel="stylesheet">
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
		<li><a href="/countries/1">Страны</a></li>
		<li class=active>{{country.name}}</li>
</ol>
{% endblock %}

{% block main_page %}
<div class="row">
	<div class="col-md-offset-1 col-md-10">
		<span  class="name-center">
			<h2 id="header-color"><b>{{country.name}}</b></h2>
		</span>

		<div class="row">

			<div class="col-md-4">
				<img class="media-object" src="{% static "images/spb.jpg" %}" id="main-pic" alt="">
				<div class="row">
					<div class = "buttons center">
						<a id="like_button_country" class="btn icon-btn btn-primary" data="{{country.id}}">
							<span class="glyphicon btn-glyphicon img-circle text-primary">

								<span class="glyphicon glyphicon-ok" id="liked_img"
								{% if not is_liked %}style="display: none" {% endif %}></span>
								<span class="glyphicon glyphicon-thumbs-up" id="not_liked_img"
								{% if is_liked %}style="display: none" {% endif %}></span>
								<b><span id="likes_count_text">{{country.likes_count}}</span></b>
							</span>
							Like
						</a>
						<a type="button" class="btn icon-btn btn-success" href="/add_tag_country/{{country.id}}/">
							<span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-info"></span>
								Add tag
						</a>

					</div>
				</div>
			</div>
			<div class="col-md-8">
				<h4 id="text-main-color">
					{{country.description}}
				</h4>
			</div>


		</div>

		{% if cities %}
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Города</th>
						<th>Лайки</th>
						<th>Тэги</th>
						<th>Поездки</th>
						<th>Просмотры</th>
					</tr>
				</thead>
				<tbody>
					{% for city in cities %}
						<tr>
							<th>
								<div class="media-left">
									<a href="/city/{{city.id}}/1/1">
										<img class="media-object" src="{% static "images/usa_sm.jpg" %}" id="sm_pic" alt="">
									</a>
								</div>
								<div class="media-body">
									<h4 class="media-heading" id="country_name"><a href="/city/{{city.id}}/1/1/">{{city.name}}</a></h4>
								</div>
							</th>
							<th>{{city.likes_count}}</th>
							<th>{{city.tags.count}}</th>
							<th>{{city.cnt_trips}}</th>
							<th>{{city.views_count}}</th>
						</tr>
					{% endfor %}
				</tbody>
			</table>

		<nav class="center">
		  <ul class="pagination">
			<li>
			  <a href="/country/{{country.id}}/1" aria-label="Previous">
				<span aria-hidden="true"> << </span>
			  </a>
			</li>
			{% if page == 1 %}
				<li class="active"><a href="#">{{page}}</a></li>
				<li><a href="/country/{{country.id}}/{{page|add:1}}">{{page|add:1}}</a></li>
				<li><a href="/country/{{country.id}}/{{page|add:2}}">{{page|add:2}}</a></li>
				<li><a href="/country/{{country.id}}/{{page|add:3}}">{{page|add:3}}</a></li>
				<li><a href="/country/{{country.id}}/{{page|add:4}}">{{page|add:4}}</a></li>
			{% elif page == 2 %}
				<li><a href="/country/{{country.id}}/{{page|add:-1}}">{{page|add:-1}}</a></li>
				<li class="active"><a href="#">{{page}}</a></li>
				<li><a href="/country/{{country.id}}/{{page|add:1}}">{{page|add:1}}</a></li>
				<li><a href="/country/{{country.id}}/{{page|add:2}}">{{page|add:2}}</a></li>
				<li><a href="/country/{{country.id}}/{{page|add:3}}">{{page|add:3}}</a></li>
			{% elif page == max_page|add:-1 %}
				<li><a href="/country/{{country.id}}/{{page|add:-3}}">{{page|add:-3}}</a></li>
				<li><a href="/country/{{country.id}}/{{page|add:-2}}">{{page|add:-2}}</a></li>
				<li><a href="/country/{{country.id}}/{{page|add:-1}}">{{page|add:-1}}</a></li>
				<li class="active"><a href="#">{{page}}</a></li>
				<li><a href="/country/{{country.id}}/{{page|add:1}}">{{page|add:1}}</a></li>
			{% elif page == max_page %}
				<li><a href="/country/{{country.id}}/{{page|add:-4}}">{{page|add:-4}}</a></li>
				<li><a href="/country/{{country.id}}/{{page|add:-3}}">{{page|add:-3}}</a></li>
				<li><a href="/country/{{country.id}}/{{page|add:-2}}">{{page|add:-2}}</a></li>
				<li><a href="/country/{{country.id}}/{{page|add:-1}}">{{page|add:-1}}</a></li>
				<li class="active"><a href="#">{{page}}</a></li>
			{% else %}
				<li><a href="/country/{{country.id}}/{{page|add:-2}}">{{page|add:-2}}</a></li>
				<li><a href="/country/{{country.id}}/{{page|add:-1}}">{{page|add:-1}}</a></li>
				<li class="active"><a href="#">{{page}}</a></li>
				<li><a href="/country/{{country.id}}/{{page|add:1}}">{{page|add:1}}</a></li>
				<li><a href="/country/{{country.id}}/{{page|add:2}}">{{page|add:2}}</a></li>
			{% endif %}
			<li>
			  <a href="/country/{{country.id}}/{{max_page}}/" aria-label="Next">
				<span aria-hidden="true"> >> </span>
			  </a>
			</li>
		  </ul>
		</nav>
		{% else %}
			<p id="text-main-color">No cities.</p>
		{% endif %}


		<div class="row">
			<div class="bs-callout bs-callout-danger">
				<div class="menu-header">Тэги</div>
					{% for tag in country.tags.all %}
						<span id="text-main-color">{{ tag.text }}</span>
					{% empty %}
						<p id="text-main-color">No tags.</p>
					{% endfor %}
			</div>
		</div>

		<div class="row">
			<div class="bs-callout bs-callout-danger">
				<div class="menu-header">Просмотры</div>
					{{country.views_count}}
			</div>
		</div>
	</div>
</div>
{% endblock %}
